crewai
crewai-tools
ipykernel
ipython
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
openai
pydantic
pydantic_core
python-dotenv
tiktoken
yfinance